<div class="container">
    <div class="row my-5">
        <div class="col-md-6 offset-md-3">
            <form #pwResetForm="ngForm" (ngSubmit)="resetPassword()">
                <h3 class="text-center" style="color: darkgreen;">StarBugs Password Reset</h3>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" minlength="8" required name="password" [(ngModel)]="password" class="form-control">
                </div>
                <div class="form-group">
                    <label for="passwordConfirmation">Re-type:</label>
                    <input type="password" minlength="8" required name="passwordConfirmation" [(ngModel)]="passwordConfirmation" class="form-control">
                </div>
                <button type="submit" class="btn btn-block btn-success" [disabled]="!pwResetForm.valid || password !== passwordConfirmation">Reset</button>
            </form>
            
        </div>
    </div>
</div>