<mat-dialog-content>
    <form [formGroup]="updateTicketDetailsForm" (ngSubmit)="update()">

        <div class="form-group">
            <label for="title">Title: </label>
            <input type="text" placeholder="Enter Bug title..." required minlength="5" formControlName="title" class="form-control">
        </div>
    
    <div class="form-row">
  
        <div class="form-group col-md-4">
            <label for="project">Project: </label>
            <select formControlName="project" (change)="changeProject($event.target.value)" class="form-control">
                <option *ngFor="let proj of projects" [ngValue]="proj">{{proj.name}}</option>
            </select>
        </div>

        <div class="form-group col-md-4">
            <label for="app">Application: </label>
            <select formControlName="app" (change)="changeApp($event.target.value)" class="form-control">
                <option *ngFor="let app of apps" [ngValue]="app">{{app.name}}</option>
            </select>
        </div>

        <div class="form-group col-md-4">
            <label for="component">Component: </label>
            <select formControlName="component"  class="form-control">
                <option [ngValue]="comp" *ngFor="let comp of componentList" >{{comp.name}}</option>
            </select>
        </div>

    </div>



    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="status">Status: </label>
            <select formControlName="status"  class="form-control">
                <option [ngValue]="s" *ngFor="let s of statusList" >{{s}}</option>
            </select>
        </div>

        <div class="form-group col-md-6">
            <label for="severity">Severity: </label>
            <select  formControlName="severity" class="form-control">
                <option [ngValue]="sev" *ngFor="let sev of severities">{{sev}}</option>
            </select>
        </div>
    </div>

        <div class="form-row">
            <div class="form-group">
                <label for="desc">Description: </label>
                <textarea  cols="80" rows="10" class="form-control" required minlength="10" formControlName="desc"></textarea>
            </div>
        </div>

        <button class="btn btn-danger" type="button">close</button>
        <button class="btn btn-success float-right" type="submit">Update</button>
               
        

   
</form>
</mat-dialog-content>