<aside class="border border-right h-100">
        
            <ul class="list-group">
                <li class="sidebar-item p-2 my-1">
                    <a href="" class="nav-link">Dashboard</a>
                </li>
                <li class="sidebar-item p-2 my-1" >
                    <a href="" class="nav-link"></a>
                </li>
                <li class="sidebar-item p-2 my-1" >
                    <a href="" class="nav-link" >Link 1</a>
                </li>
                <li class="sidebar-item p-2 my-1">
                    <a href="" class="nav-link" >Link 1</a>
                </li>
                <li class="sidebar-item p-2 my-1" >
                    <a href="" class="nav-link">Link 1</a>
                </li>
            </ul>
</aside>