
<div class="container-fluid mt-3">
  <div class="row my-2">
    <div class="col-md-3 offset-md-9">
      <div class="btn btn-block btn-success" [routerLink]="['/client/' + clientId + '/admin/employees/add-employee']">+ New</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <table class="table table-borderd table-hover table-striped">
        <thead class="thead" style="background-color: #28a745; color:white">
          <tr>
            <th scope="col">No.</th>
            <th scope="col">Firstname</th>
            <th scope="col">Lastname</th>
            <th scope="col">Username</th>
            <th scope="col">Enabled</th>
            <th scope="col">Actions</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users, let i = index">
            <th scope="row">{{i+1}}</th>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.username}}</td>
            <td>{{user.enabled}}</td>
            <td>
              <button class="btn btn-sm btn-primary mr-2">Edit</button>
              <button type="button" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>