<div class="container bg-white">
    <div class="row mt-5 py-4 border rounded my-2">
        <div class="col-md-4 my-2">
            <div class="card">
                <h4 class="card-header">Users</h4>
                <div class="card-body">
                    <div class="card-title">Organisation users</div>
                    <div class="card-text">Display all users included in your subscription.</div>
                </div>
                <div class="card-footer">
                    <a href="#" [routerLink]="['/client/' + clientId + '/admin/employees']" class="btn btn-success">Show</a>
                </div>
            </div>
        </div>
     
        <div class="col-md-4 my-2">
            <div class="card h-100">
                <h4 class="card-header">Projects</h4>
                <div class="card-body">
                    <div class="card-title">Company Projects</div>
                    <div class="card-text">A list of all your projects</div>
                </div>
                <div class="card-footer">
                    <a href="#" [routerLink]="['/client/' + clientId + '/admin/projects']" class="btn btn-success">Show</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 my-2">
            <div class="card h-100">
                <h4 class="card-header">Tickets</h4>
                <div class="card-body">
                    <div class="card-title">Tickets List</div>
                    <div class="card-text">Browse all tickets issued by your organisation.</div>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-success">Show</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 my-2">
            <div class="card h-100">
                <h4 class="card-header">Company</h4>
                <div class="card-body">
                    <div class="card-title">Company Details</div>
                    <div class="card-text">Display and modify your company details</div>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-success">Show</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 my-2">
            <div class="card h-100">
                <h4 class="card-header">Subscription</h4>
                <div class="card-body">
                    <div class="card-title">Subscription Details</div>
                    <div class="card-text">View or upgrade your current subscription plan.</div>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-success">Show</a>

                </div>
            </div>
        </div>
        <div class="col-md-4 my-2">
            <div class="card h-100">
                <h4 class="card-header">Support</h4>
                <div class="card-body">
                    <div class="card-title">Contact us</div>
                    <div class="card-text">7/24 support per week</div>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-success">Contact</a>
                </div>
            </div>
        </div>
  
    </div>
</div>
