<div class="container-fluid d-flex h-100 bg-image">
    <div class="row align-self-center" id="">
        <div class="col-md-6 offset-md-3" id="client-invitation">
                    <h1 class="display-4 text-center">StarBugs Software Quality Solution Systems</h1>
                    <p style="line-height: normal;" class="text-center my-2">Simple, Flexible and reliable!</p>
                    
                    <p style="line-height: normal;" class="text-center">
                         Enhance your business opportunities and gain your client's trust by using our bug tracking software for free!
                         Business digitalisation has become the most important aspect for trade.
                         While your business gets bigger, your softwares grow as well.
                         Thats why quality matters to keep trust between your products and business partners.
                    </p>
                    <div class="d-flex justify-content-center">
                        <a class="dark-btn mr-4"  href="#" routerLink="/subscribe" role="button">Register Now!</a>
                        <a class="dark-btn"  href="#" routerLink="/login" role="button">Login</a>
                    </div>
                </div>
     
    </div>
</div>